{% extends 'base.html' %}
{% block title %}Groups{% endblock %}
{% block content %}
<div class="submitform">

        <form method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <button type="submit">Submit</button>
        </form>

</div>
<div class="grouptable">

        <table>
                <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                </tr>
                {% for group in groups %}
                <tr class="groupItem">
                        <td><label>{{ group.id }}</label></td>
                        <td><label for="{{ group.id }}">{{ group.name }}</label></td>
                        <td><label for="{{ group.id }}">{{ group.description }}</label></td>
                        <form action="/update_group/" method="get">
                                {% csrf_token %}
                                <input type="hidden" name="group_id" value="{{ group.id }}"/>
                                <td><button class="groupEdit" name="groupEdit" type="submit">Edit</button></td>
                        </form>
                        <form action="/remove_group/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="group_id" value="{{ group.id }}"/>
                                <td><button type="submit">Delete</button></td>
                        </form>
                </tr>
                {% endfor %}
        </table>

</div>
{% endblock %}
