{% extends 'base.html' %}
{% block title %}Update Group{% endblock %}
{% block content %}
<div class="groupdisplay">
        <table>
                <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                </tr>
                <tr>
                        <th><label>{{ group.id }}</label></th>
                        <th><label for="{{ group.id }}">{{ group.name }}</label></th>
                        <th><label for="{{ group.id }}">{{ group.description }}</label></th>
                </tr>
        </table>
</div>
<div class="submitform">
        <form action="/update_group/ "method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="hidden" name="group_id" value="{{ group.id }}"/>
                <button type="submit">Submit changes</button>
        </form>
        <form action="/groups/"><button>Cancel</button></form>
</div>
{% endblock %}
