{% extends 'base.html' %}
{% block title %}Update User{% endblock %}
{% block content %}
<div class="userdisplay">
        <table>
                <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Group</th>
                </tr>
                <tr>
                        <th><label>{{ user.id }}</label></th>
                        <th><label for="{{ user.id }}">{{ user.username }}</label></th>
                        <th><label for="{{ user.id }}">{{ user.group }}</label></th>
                </tr>
        </table>
</div>
<div class="submitform">
        <form action="/update_user/ "method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="hidden" name="user_id" value="{{ user.id }}"/>
                <button type="submit">Submit changes</button>
        </form>
        <form action="/users/"><button>Cancel</button></form>
</div>
{% endblock %}
