{% extends 'base.html' %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="submitform">

        <form method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <button type="submit">Submit</button>
        </form>
</div>
<div class="usertable">

        <table>
                <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Group</th>
                        <th></th>
                        <th></th>
                </tr>
                {% for user in users %}
                <tr class="groupItem">
                        <td><label>{{ user.id }}</label></td>
                        <td><label for="{{ user.id }}">{{ user.username }}</label></td>
                        <td><label for="{{ user.id }}">{{ user.created }}</label></td>
                        <td><label for="{{ user.id }}">{{ user.group }}</label></td>
                        <form action="/update_user/" method="get">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ user.id }}"/>
                                <td><button class="userEdit" name="userEdit" type="submit">Edit</button></td>
                        </form>
                        <form action="/remove_user/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ user.id }}"/>
                                <td><button type="submit">Delete</button></td>
                        </form>
                </tr>
                {% endfor %}
        </table>

</div>

{% endblock %}
