<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
</head>
<body>
        <div class="navbar">
                <a href="{% url 'users' %}">Users</a>
                <a href="{% url 'groups' %}">Groups</a>
                <hr/>
        </div>
        {% block content %}
        {% endblock %}

</body>
</html>
